#question-modal {
	--height: auto;
}
#question-modal ion-card {
	width: 100%;
	max-width: min(576px, calc(100vw - 24px));
	margin-inline: auto;
	margin-block: 12px;
}
.non-scroll {
	height: fit-content;
}
#flashcards {
	display: flex;
	flex-direction: row;
	width: 200%;
	flex-grow: 1;
	height: 100%;
}
#flashcards.lonely {
	width: 100%;
}
#flashcards > div {
	width: 100%;
}
.additional-info {
  	font-family: "Space Mono", monospace;
  	transition: 0.333s;
}
.hidden {
	display: none;
}
.flashcard-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: fit-content;
}
.flashcard-page .upper-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
}
.flashcard-page .container {
	display: flex;
	flex: 1;
	flex-direction: column;
	overflow-y: scroll;
	overflow-x: hidden;
}
.flashcard-header {
	max-width: 576px;
	width: 100%;
	margin-inline: auto;
	padding-block: 0 !important;
}
.additional-info {
	width: 100%;
	display: flex;
	align-items: center;
}
.additional-info > ion-label {
	flex: 12;
	text-align: center;
	font-size: 1.125em;
}
#explanation {
	padding-inline: 10px;
	padding-bottom: 10px;
}
.immunity {
	background: radial-gradient(circle,rgba(235, 255, 84, 0) 0%, rgba(107, 255, 156, 0.05) 50%, rgba(145, 255, 240, 0.25) 100%);
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	opacity: 0;
	transition: all 1s;
	pointer-events: none;
}
.immunity.enabled {
	opacity: 0.6;
}
.timer.frozen {
	background-color: var(--ion-color-secondary);
	color: var(--ion-background-color);
	font-weight: 800;
}
.timer ion-icon {
	transition: 0.333s;
}
.timer.frozen ion-icon {
	fill: var(--ion-background-color);
}
#alert-sigma-modes {
	--height: auto;
	--border-radius: 32px;
	--box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
	padding-inline: 2em;
}
.alert-sigma-modes {
	padding: 24px;
	justify-content: center	!important;
}
.sm-unlocked {
	margin: 0;
}
.sm-unlocked-desc {
	color: var(--ion-text-color-step-200);
}
.flashcard-page {
	--background: transparent;
	filter: drop-shadow(0 0 8px var(--ion-background-color-step-150));
}
.flashcard-header {
	background-color: var(--ion-background-color);
	padding-block: 12px !important;
	max-width: min(calc(100vw - 50px), calc(576px - 25px));
	border-radius: 16px;
}
#flashcard-header {
	--ion-toolbar-background: linear-gradient(to top, transparent, var(--ion-background-color));
	box-shadow: none;
}
.select-sigma {
	--padding-start: 0;
	--padding-end: 0;
	--padding-top: 0;
	--padding-bottom: 0;

	--background: var(--ion-background-color-step-150);
	letter-spacing: normal;
	text-transform: none;
	text-align: start;
	--border-radius: 8px !important;
	margin: 0;
}
.select-sigma ion-card {
	margin: 0;
	--background: none;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 0;
}
.select-sigma ion-card-header {
	width: 100%;
}
.select-sigma-icon {
	width: 64px;
	height: 64px;
	padding-inline-start: 16px;
}
.alert-sigma-modes .select-container {
	display: grid;
	gap: 8px;
	width: 100%;
	grid-auto-rows: 1fr;
	align-items: stretch;
}
#countdown {
	--background: #0000;
	--progress-background: var(--ion-text-color);
	--progress-background: color-mix(in srgb, var(--ion-color-danger), var(--ion-text-color) var(--progress));
}
#countdown.frozen {
	--background: #0000;
	--progress-background: var(--ion-color-secondary);
}
#question-modal .minus-lives {
	width: fit-content;
	position: absolute;
	right: 8px;
	top: 8px;
}