.topicHeader {
  position: sticky;
  top: 10px;
  z-index: 1;
}
ion-segment {
  display: flex;
  background-color: var(--ion-toolbar-background);
  border-radius: 1000px;
  margin-top: 8px;
  height: fit-content;
  width: fit-content;
  overflow-y: hidden;
  margin-inline: auto;
  height: 48px;
  min-height: 48px;
  max-height: 48px;
  max-width: 100vw;
  justify-content: start;
}
ion-segment-content {
  height: fit-content;
}
ion-segment-button::part(native) {
  border-radius: 1000px;
  background-color: transparent !important;
  flex-grow: 1;
}
.segment-button-checked.md::part(native) {
  color: var(--ion-color-primary-contrast);
}

ion-segment-button.md::part(indicator-background) {
  --padding: 8px;
  border-radius: 1000px;
  background-color: var(--ion-color-primary);
  height: calc(48px - var(--padding));
  width: calc(100% - var(--padding));
  margin: calc(var(--padding) / 2);
}
.loading-card {
  width: fit-content;
  margin: auto;
}
.loading-card ion-card-header {  
  display: grid;
  justify-items: center;
}
.loading-card ion-spinner {
  width: 3em;
  height: 3em;
}
#main-header, #flashcard-header, #results-header {
  box-shadow: none;
  --ion-toolbar-background: transparent
}
#recall-logo {
  height: 30px;
  width: fit-content;
}
.avatar-toolbar {
  height: 32px;
  width: 32px;
  padding: 0;
}
.avatar-toolbar ion-avatar {
  height: 32px;
  width: 32px;
  margin: 0;
}