.dialogue-box {
	max-width: 576px;
	min-width: calc(100% - 20px);
	bottom: 0px;
	overflow: scroll;
	height: 256px;
	display: flex;
}
.dialogue-box .header {
	width: 135px;
	min-width: 135px;
	max-width: 135px;
	background-color: var(--ion-background-color-step-200);
}
.dialogue-box .name {
	height: 100%;
}
.dialogue {
	padding-left: 0;
	color: var(--ion-text-color);
}
.story-content {
	height: 100%;
	display: grid;
	align-content: center;
}
#story-header {
	box-shadow: none;
	--ion-toolbar-background: linear-gradient(to top, transparent, var(--ion-background-color));
	filter: drop-shadow(0px 0px 8px var(--ion-background-color));
	position: absolute;
}
#story-title {
	font-size: 1em;
}
#s-video {
	max-width: 100vw;
	max-height: 100vh;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.next-button {
	width: 100%;
	margin: 0;
	transition: 0.333s;
	position: absolute;
	bottom: 0;
	--background: linear-gradient(to bottom, transparent, var(--ion-background-color));
	--color: var(--ion-text-color);
	filter: drop-shadow(0px 0px 8px var(--ion-background-color));
	--box-shadow: none;
}
.next-button.hide {
	opacity: 0;
	pointer-events: none;
}
#main-content .pop-over {
	text-align: center;
	padding: 8px;
	font-weight: 1000;
	text-shadow: 0 2px 0 var(--ion-background-color-step-600);
	font-size: 1.5em;
}
.view-disabled .pop-over {
	opacity: 0 !important;
	pointer-events: none;
}