.choice-container {
  flex: 1;
}
.choice-container.f-multipleChoice ion-col, .choice-container.f-checkboxes ion-col {
  display: flex;
  flex-direction: column;
}
.choice > *:not(.wipe) {
  z-index: 1;
  padding-inline-start: var(--padding-start);
  padding-inline-end: var(--padding-end);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  font-size: 1.5em;
}
.choice {
  flex: 1;
  transition: 0.2s ease-out;
  will-change: transform;
  padding: 0 !important;
}
.choice[disabled=""] {
  filter: saturate(0.35);
  transform: scale(0.99);
}
.choice::part(native) {
  transition: 0.3s;
  padding: 0;
}
.flashcard-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  will-change: transform;
}
.correct {
  --background: var(--ion-color-success-shade);
  --color: var(--ion-color-success-contrast);
  pointer-events: none;
  transform: scale(1.01);
}
.correct .wipe {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  background: var(--ion-color-success-tint);
  left: 0;
  will-change: transform;
  animation: linearwipe 1.5s cubic-bezier(0.381, 0.52, 0.523, 1) forwards;
  transform-origin: left;
}
@keyframes linearwipe {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.timer {
  font-family: "Space Mono", monospace;
}
.choice-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px !important;
  --size: 24px;
  --border-color: transparent;
  --checkbox-background: var(--ion-background-color);
  --border-color-checked: transparent;
  --checkbox-background-checked: transparent;
}
.f-checkboxes .choice {
  --background: var(--ion-background-color-step-150);
  --color: var(--ion-text-color-step-150);
}
.f-checkboxes .choice.checked {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}
.f-checkboxes .choice.correct {
  --background: var(--ion-color-success-shade);
  --color: var(--ion-color-success-contrast);
}
.f-checkboxes .choice.correct:not(.checked) {
  opacity: 0.5;
}
.question-header {
  display: flex;
}
.question-header span:not(.type) {
  flex: 1;
}
.question-header .type {
  font-weight: 1000;
}
@media (min-width: 992px) {
  .choice-container.f-multipleChoice ion-col {
    flex-direction: row;
  }
}
